<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <!--        <Property name="baseOutput">../log/app.log</Property>-->
        <Property name="queueOutput">../log/queue.log</Property>
    </Properties>


    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>

        <!--        <RollingRandomAccessFile name="BaseRollingFile" fileName="${baseOutput}"-->
        <!--                     filePattern="${baseOutput}.%d{yyyy-MM-dd}.log.%i">-->
        <!--            <PatternLayout>-->
        <!--                <Pattern>%d %p %c [%t] %m%n</Pattern>-->
        <!--            </PatternLayout>-->

        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy modulate="true" interval="1" />-->
        <!--                <SizeBasedTriggeringPolicy size="50 MB"/>-->
        <!--            </Policies>-->
        <!--            <DefaultRolloverStrategy max="20"/>-->
        <!--        </RollingRandomAccessFile>-->

        <RollingRandomAccessFile name="queueRollingFile" fileName="${queueOutput}"
                                 filePattern="${queueOutput}.%d{yyyy-MM-dd}.log.%i">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>

        <!--        <AsyncLogger name="com.notayessir" level="info" includeLocation="true">-->
        <!--            <AppenderRef ref="baseRollingFile"/>-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </AsyncLogger>-->

        <AsyncLogger name="org.apache.ratis" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="queueRollingFile"/>
        </AsyncLogger>


        <Root level="info" includeLocation="true">
            <!--            <AppenderRef ref="baseRollingFile"/>-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>